option_settings:
  "aws:elasticbeanstalk:application:environment":
    "DJANGO_SETTINGS_MODULE": "config.settings.production"
    "USE_DOCKER": "False"
    "REDIS_URL": "127.0.0.1:6379"
    "REDIS_HOST": "127.0.0.1"
    "REDIS_PORT": "6379"
    "EMAIL_HOST": ""
    "EMAIL_PORT": ""
    "EMAIL_HOST_USER": ""
    "EMAIL_HOST_PASSWORD": ""
    "CELERY_BROKER_URL": ""
    "DJANGO_SECRET_KEY": "local-secret"
    "ALLOWED_HOSTS": "['*', 'localhost']"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: config/wsgi.py
    NumProcesses: 1
    NumThreads: 4
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "staticfiles/"
