container_commands:
  01_migrate:
    command: "django-admin.py migrate --no-input"
    leader_only: true
  02_create_superuser:
    command: "source /opt/python/run/venv/bin/activate && python app/manage.py createsu"
  03_collectstatic:
    command: "django-admin.py collectstatic --no-input"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    "DJANGO_SETTINGS_MODULE": "config.settings.production"
    "USE_DOCKER": "False"
    "REDIS_URL": "127.0.0.1:6379"
    "REDIS_HOST": "127.0.0.1"
    "REDIS_PORT": "6379"
    "EMAIL_HOST": ""
    "EMAIL_PORT": ""
    "EMAIL_HOST_USER": ""
    "EMAIL_HOST_PASSWORD": ""
    "CELERY_BROKER_URL": ""
    "DJANGO_SECRET_KEY": "local-secret"
    "DJANGO_ALLOWED_HOSTS": "*"
    "SELO": "CHAN"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: config/wsgi.py
    NumProcesses: 1
    NumThreads: 4
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "staticfiles/"
